@import url(./assets/fonts/IBMPlexSansArabic.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBMPlexSansArabic";
}

body {
  width: 100%;
  height: 100svh;
  background-color: #29282a;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 250px;
  justify-content: space-between;
  flex-flow: column;
  background: url(./assets/images/header-bg.webp) center no-repeat;
  background-size: cover;
}

.header .logo {
  margin-top: 30px;
}

.header .logo img {
  width: 300px;
}

.header .navbar .container {
  gap: 20px;
}

.header .navbar {
  width: 100%;
  height: 50px;
  background-color: #89cff0;
  border-top: 3px solid #cee7f3;
  border-bottom: 3px solid #12a4e7;
}

.header .navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 55, 80, 0.5);
}
