@font-face {
  font-family: "IBMPlexSansArabic";
  src: url(./IBMPlexSansArabic-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url(./IBMPlexSansArabic-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url(./IBMPlexSansArabic-Bold.ttf);
  font-weight: 700;
}
