/* Fonts */
@font-face {
  font-family: "0xProto";
  src: url(../fonts/0xProto/0xProtoNerdFontMono-Regular.ttf);
}
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url(../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf);
}

/* Global CSS */
:root {
  --blue: #0080ff;
  --black: #141414;
  --black2: #1c1c1c;
  --black3: #282828;
  --white: #ffffff;
  --white2: #eaeaea;
  --white3: #a9a9a9;
  --off-black: #141414;
  --off-white: rgba(244, 244, 244, 0.5);

  --font-name: "IBMPlexSansArabic", "0xProto";
}

* {
  padding: 0;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  direction: rtl;
  font-family: var(--font-name);
  font-size: 62.5%;
}

body {
  background-color: var(--black3);
  color: var(--white);
}

a {
  color: var(--blue);
}

ul,
ol {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Header CSS */
.header {
  width: 100%;
  background-color: var(--black);
  border-bottom: 0.3rem solid var(--blue);
}
.header .container {
  padding: 2rem;
  justify-content: space-between;
}

/* Logo CSS */
.header .logo {
  gap: 1.25rem;
}
.header .logo .avatar {
  width: 3rem;
  border-radius: 0.3125rem;
  border: 0.1875rem solid var(--blue);
}
.header .logo .name {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}
.header .logo .name .harakah {
  font-weight: 700;
  color: var(--blue);
}

/* Media Breakpoints */

/* Mobile Phones */
@media (max-width: 30rem) {
  .header .navbar {
    flex: 1;
    justify-content: left;
  }
  .header .navbar .nav-menu-toggle {
    appearance: none;
    width: 3rem;
    height: 3rem;
    /* justify-content: left; */
    cursor: pointer;
    perspective: 1000px;
  }
  .header .navbar .nav-menu-toggle::after {
    content: "󰍜";
    display: inline-block;
    font-family: var(--font-name);
    font-size: 4.8rem;
    color: var(--blue);
  }
  .header .navbar .nav-menu-toggle:checked::after {
    content: "󰮫";
    transform: scaleX(-1);
  }
  .header .navbar .nav-menu {
    display: flex;
    visibility: hidden;
    width: calc(100% - 4rem);
    margin: 0 2rem;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-8.5rem);
    align-items: flex-start;
    flex-flow: column wrap;
    gap: 1rem;
    background-color: var(--black2);
    border-bottom: 0.3rem solid var(--blue);
    z-index: -1;
  }
  .header .navbar .nav-menu-toggle:checked + .nav-menu {
    visibility: visible;
    transform: translateY(7.4rem);
  }
  .header .navbar .nav-menu .nav-menu-link {
    gap: 1rem;
    font-size: 1.6rem;
  }
  .header .navbar .nav-menu .nav-menu-link i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    height: 2rem;
    font-style: normal;
  }
  .header .navbar .nav-menu .nav-menu-link a {
    text-decoration: underline;
  }
}

/* Tablets/iPads */
@media (min-width: 30.0625rem) and (max-width: 48rem) {
}

/* Laptops */
@media (min-width: 48.0625rem) and (max-width: 64rem) {
}

/* Desktops */
@media (min-width: 64.0625rem) {
}

/* Large Screens/TVs */
@media (min-width: 75.0625rem) {
}
