@import url(/assets/fonts/IBMPlexSansArabic.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBMPlexSansArabic";
}

body {
  width: 100%;
  height: 100svh;
  background-color: #29282a;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 250px;
  justify-content: space-between;
  flex-flow: column;
  background: url(/assets/images/header-bg.webp) center no-repeat;
  background-size: cover;
}

.header .logo {
  margin-top: 30px;
}

.header .logo img {
  width: 300px;
}

.header .navbar .container {
  /* gap: 20px; */
}

.header .navbar {
  width: 100%;
  height: 50px;
  background-color: #89cff0;
  border-top: 3px solid #cee7f3;
  border-bottom: 3px solid #12a4e7;
}

.header .navbar a {
  font-size: 16px;
  padding: 10px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 55, 80, 0.5);
  transition: 0.3s background-color linear;
}

.header .navbar a:hover {
  background-color: rgba(18, 164, 231, 0.2);
}

.header .navbar .active {
  background-color: rgba(18, 164, 231, 0.2);
}

.section-content .section-banner {
  width: 100%;
  height: 180px;
  justify-content: flex-start;
  background-size: cover;
  margin-bottom: 20px;
  border-bottom: 3px solid #12a4e7;
  position: relative;
}

.home-banner {
  background: url(/assets/images/home.webp) center no-repeat;
}

.aboutme-banner {
  background: url(/assets/images/aboutme.webp) center no-repeat;
}

.codelogs-banner {
  background: url(/assets/images/codelogs.webp) center no-repeat;
}

.section-content .section-banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 177px;
  background-color: rgba(41, 40, 42, 0.5);
}

.section-content .section-banner .section-title {
  color: #fff;
  z-index: 99;
  font-size: 64px;
  margin-left: 50px;
  text-shadow: 4px 4px 1px rgba(0, 55, 80, 0.5);
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer .container {
  background-color: #1e1d1f;
  font-weight: 700;
  padding: 10px;
  gap: 5px;
  color: #fff;
}

.footer a {
  color: #89cff0;
  transition: 0.3s color linear;
}

.footer a:hover {
  color: #cee7f3;
}
